!DOCTYPE html>
<html>
    <head>
        <title> Goodbye </title>
    </head>
        <!--    Comment -->
    <body>
      <% name = "Joe" %>
      <h1><%= "Goodbye " + name %></h1>

    </body>
</html>
